<div class="gadget" style="width:30%;height:1000px;">
  <div class="gadget-header">Artifacts <span style="float: right;" id="image-number"><%= images.length + services.length %></span></div>
  <div class="gadget-body" id="images-metrics" style="height:960px;">
    <table width="100%">
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Version</th>
        <th>Updated</th>
      </tr>
   <% for(let i in images) {
      let image = images[i];
    %>
     <tr onclick="showDetail('image', <%= image.id %>);">
       <td>Image</td>
       <td><a href="/image/get?id=<%- image.id %>" target="detail-frame"><%= image.name %></td>
       <td><%= image.version %></td>
       <td align="right"><%= partial("../partials/date", {seconds: image.updatedAt}); %></td>
     </tr>
    <%
    }
    for(let i in services) {
      let service = services[i];
      %>
      <tr>
        <td>Service</td>
        <td><a href="/stack/get?id=<%- service.id %>" target="detail-frame"><%= service.name %></td>
        <td><%= service.version %></td>
        <td align="right"><%= partial("../partials/date", {seconds: service.updatedAt}); %></td>
      </tr>
      <%
      }
      %>
    </table>
  </div>
</div>

<div style="width:calc(70% - 30px);height:1000px;float:left;">
    <iframe name="detail-frame" width="100%" height="100%" frameborder="0"></iframe>
</div>

<script>
  function showDetail(type, id) {
    io.socket.get('/' + type + '/get?mode=json&id=' + id, function (body, response) {
        let detailDiv = document.getElementById('detail-metrics');
        detailDiv.innerHTML = body;
    });
  }
  function()
</script>
