<%- partial("../instance/_gauge", {title:"Applications", instances:env.apps}) %>
<%- partial("../service/_instanceGauge", {title:"Services", services:env.services}) %>
<%- partial("../policy/_smallList", {policies:env.policies}); %>
<%- partial("../resource/_gaugeAll", {title:"Resources", resources: env.resources}) %>
<div class="gadget" style="width:calc(100% - 25px);">
  <div class="gadget-header">Environment <%- env.name %></div>
  <div class="gadget-body" style="overflow-y:auto;position:relative;max-height:450px;width:100%;height:auto;">
    <%- partial('../env/_graph', {height: 450, width: 1000, env: env}) %>
  </div>
</div>
